<div class="articleList">
  <div class="container">
    <br>
    <%= new Date().toLocaleDateString('ko-KR') %>
      <hr>

      <% articles.forEach(article=> { %>
        <div class="article-card">
          <a class="article-title" href="/articles/<%= article.article_id %>">
            <h2>
              <%= article.title %>
            </h2>
          </a>

          <% if (article.articleImage) { %>
            <img src="<%= article.articleImage.image_url %>" alt="대표 이미지" class="thumbnail">
            <% } %>

              <div class="meta">
                <%= article.press %> |
                  <%= new Date(article.created_at).toLocaleString('ko-KR') %>
              </div>
        </div>
        <% }) %>
  </div>
</div>