<div class="article">
  <button class="list-button">
    <a href="/articles">목록 보기</a>
  </button>
  <div class="meta">
    <%= article.press %> ·
      <%= new Date(article.created_at).toLocaleString('ko-KR') %>
  </div>

  <h1>
    <%= article.title %>
  </h1>

  <div class="author">
    <%= article.author %> 기자
  </div>

  <hr>

  <div class="content">
    <% if (article.articleImage && article.articleImage.image_url) { %>
      <img src="<%= article.articleImage.image_url %>" alt="대표 이미지">
      <% } %>
        <p>
          <%- article.content.replace(/\n/g, '<br>' ) %>
        </p>
  </div>

  <!-- 팩트체크 버튼 -->
  <form class="factCheck" method="POST" action="/articles/<%= article.article_id %>/factcheck">
    <button class="factCheck-Yes" name="factCheck_type" value="fact" type="submit">팩트다 <%= factCounts.fact %></button>
    <button class="factCheck-No" name="factCheck_type" value="nofact" type="submit">아니다 <%= factCounts.nofact %>
    </button>
  </form>

  <hr>

  <div>
    <!-- 댓글 작성 -->
    <form class="comment-form" method="POST" action="/comments">
      <h2>댓글 <%=commentCounts %>
      </h2>
      <input type="hidden" name="article_id" value="<%= article.article_id %>">
      <input type="url" name="source" placeholder="출처" required>
      <textarea name="content" placeholder="댓글을 작성하려면 로그인 해주세요." required></textarea>
      <button type="submit">작성</button>
    </form>
  </div>

  <div class="comment-section">
    <% if (!comments || comments.length===0) { %>
      <p class="no-comments">아직 댓글이 없습니다.</p>
      <% } else { %>
        <% comments.forEach(comment=> { %>
          <div class="comment-card">

            <!-- 삭제 버튼 -->
            <form method="POST" action="/comments/<%= comment.comment_id %>/delete">
              <input type="hidden" name="article_id" value="<%= article.article_id %>">
              <button type="submit" class="delete-button">❌</button>
            </form>

            <p class="comment-author">
              <%= comment.user.name %> 「<%= comment.user.rank_id %>」
            </p>
            <p class="comment-source">출처 : <%= comment.source %>
            </p>
            <p class="comment-content">
              <%= comment.content %>
            </p>
            <br>
            <p class="comment-date ">
              <%= new Date(comment.created_at).toLocaleString('ko-KR') %>
            </p>

            <div class="reaction-buttons">
              <!-- 추천 버튼 (👍) -->
              <form method="POST"
                action="/comments/<%= comment.comment_id %>/reaction">
                <input type="hidden" name="reaction_type" value="like">
		<% if (loggedIn) { %>
                  <input type="hidden" name="user_id" value="<%= currentUser.user_id %>">
		<% } %>
  		<input type="hidden" name="article_id" value="<%= article.article_id %>">
	        <button type="submit">👍 추천</button>
              </form>

              <!-- 비추천 버튼 (👎) -->
              <form method="POST"
                action="/comments/<%= comment.comment_id %>/reaction">
                <input type="hidden" name="reaction_type" value="dislike">
		<% if (loggedIn) { %>
	  	  <input type="hidden" name="user_id" value="<%= currentUser.user_id %>">
		<% } %>
		<input type="hidden" name="article_id" value="<%= article.article_id %>">
                <button type="submit">👎 비추천</button>
              </form>
            </div>
          </div>
          <% }) %>
            <% } %>
  </div>

  <!-- flash 메세지 추가 -->
  <% if (flashMessages) { %>
    <% if (flashMessages.selected) { %>
      <script>
        alert("<%= flashMessages.selected %>");
      </script>
      <% } %>
        <% if (flashMessages.notLogin) { %>
          <script>
            alert("<%= flashMessages.notLogin %>");
          </script>
          <% } %>
            <% if (flashMessages.noUser) { %>
              <script>
                alert("<%= flashMessages.noUser %>");
              </script>
              <% } %>
		<% if (flashMessages.reactionselected){ %>
		  <script>
		    alert("<%= flashMessages.reactionselected %>");
		  </script>
		  <% } %>
		    <% if (flashMessages.reactionerror) { %>
    		      <script>
       		        alert("<%= flashMessages.reactionerror %>");
     		      </script>
     		      <% } %>
                        <% } %>

</div>
